*{
  background-color: rgb(64, 62, 66);
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
}

.Memory{
  background-color: purple;
  width: 205px;
  margin-right: 87px;
  font-size: large;
  font-style: bold;
  color:white;
  text-align: right;
  margin-top: 200px;
}

.Body{
  height: 60px;
  width: 300px;
}

button{
  background-color: rgb(214, 212, 212);
  height: 50px;
  width: 50px;
  font-size: 16px;
  font-style: bold;
}

.num{
  background-color: rgb(255, 190, 130);
}

.operator{
  background-color: rgb(255, 112, 112);
}


