
body{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Memory{
  background-color: black;
  width: 205px;
  margin-right: 87px;
  font-size: large;
  font-style: bold;
  color:white;
}

.Body{
  height: 60px;
  width: 300px;
}

button{
  background-color: rgb(214, 212, 212);
  height: 50px;
  width: 50px;
  font-size: large;
  font-style: bold;
}


