* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

.header{
  height: 750px;
}


.Calc{
  width: 250px;
  border: 2px rgb(53, 53, 53) solid;
  padding: 20px;
  background-color: rgb(170, 170, 170);
}

.Memory{
  background-color: purple;
  width: 212px;
  margin-bottom: 5px;
  font-size: large;
  font-style: bold;
  color:white;
  text-align: right;
  border: solid black 3px;
}

.Body{
  height: 60px;
  width: 300px;
}

button{
  background-color: rgb(214, 212, 212);
  height: 50px;
  width: 50px;
  font-size: 16px;
  font-style: bold;
}

.num{
  background-color: rgb(255, 190, 130);
}

.operator{
  background-color: rgb(255, 112, 112);
}


